$white-color: white;
$gray-color: gray;
$light-green-color: #dcf8c6;
$light-gray-color: lightgray;
$grayish-blue-color: rgb(185, 220, 255);

$app-body-background-color: #ededed;
$body-box-shadow: rgba(0, 0, 0, 0.7);
$button-bg-color: rgb(40, 86, 255);