$primary-border-radius: 10px;
$primary-padding: 12px;

$primary-margin: 12px;

$mid-border-radius: 15px;
$large-border-radius: 40px;
$footer-height: 70px;

$dial-pad-dimen: 50px;

$xs-icon-dimen: 14px;
$md-icon-dimen: 30px;