@import 'color';
@import 'dimen';


@import 'color';
@import 'dimen';

:export {
  whiteColor: $white-color;
  grayColor: $gray-color;
  lightGreen: $light-green-color;
  lightGray: $light-gray-color;
  grayishBlueColor: $grayish-blue-color;
  buttonBgColor: $button-bg-color;
}

:export {
  appBodyBackgroundColor: $app-body-background-color;
  bodyBoxShadow: $body-box-shadow;
}

:export {
  primaryBorderRadius: $primary-border-radius;
  midBorderRadius: $mid-border-radius;
  largeBorderRadius: $large-border-radius;
  primaryPadding: $primary-padding;
  footerHeight: $footer-height;
  dialPadDimen: $dial-pad-dimen;
  primaryMargin: $primary-margin;
  xsIconDimen: $xs-icon-dimen;
  mdIconDimen: $md-icon-dimen;
}