@import '../color';
@import '../dimen';

.app {
  display: grid;
  place-items: center;
  background: $gray_color;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: $app-body-background-color;
  height: 90vh;
  // width: 30vw;
  min-width: 450px;
  box-shadow: -1px 4px 20px -6px $body-box-shadow;
  flex-direction: column;
}